* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: rgb(40, 40, 73);
    padding: 10px;
}
nav a{
    color: white;
    display:block;
    padding: 10px;
}
h1{
    color: darkblue;
}
main img{
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
main{
    max-width: 800px;
}
aside{
    width: 200px;
    margin: auto;
    border: 1px solid beige;
    padding: 2rem;
    background-color: aqua;
    color: black;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
    position: relative;
}
aside h2{
    position: absolute;
    top: auto;
    left: auto;
}
footer{
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors*/
.box {
    margin : 1rem;
    border: 1px solid rgba(18, 2, 2, 0.1);
    padding: 1rem;
    background-color: rgb(56, 24, 91);
    color: antiquewhite;
}
aside {
    width: 20em;
    text-align: center;
}